body {
	background-color: rgb(97, 204, 231);
}
.foglio {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1em auto 1em;
	max-width: 600px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.85);
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 1.2em;
}
div {
	padding: 15px;
}
.title {
	text-align: center;
	/*text-transform: uppercase;*/
	color: #DC3D24;
	font-size: 2em;
}
li {
	background-color: rgba(0, 0, 0, 0.2);
	margin: 1px;
	list-style: none;
	display: inline-block;
	position: relative;
	text-align: center;
}
ul {
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
}
.exampleLine {
	padding: 0px 0px 20px 0px;
}
.exampleLine li {
	width: 3em;
	height: 3em;
	line-height: 3em;
}
.grid {
	padding: 0;
	width: 16em;/*grid 3*X */
}
.grid li {
	width: 5em;
	height: 5em;
	line-height: 5em;
	-moz-user-select: none; 
	-webkit-user-select: none;
	-ms-user-select:none; 
	user-select:none;' 

}
.typeofgrid {
padding: 0px 0px 20px 0px;
	display: flex;
	position: flex;
}
.typeofgrid9 {
	padding: 0px 10px 0px 10px;
	width: 1.3em;
margin-top: 0.6em;
}
.typeofgrid16 {
	padding: 0px 10px 0px 10px;
	width: 2em;
margin-top: 0.4em;
}
.typeofgrid25 {
	padding: 0px 10px 0px 10px;
	width: 2.2em;
margin-top: 0.2em;
}
.typeofgrid36 {
	padding: 0px 10px 0px 10px;
	width: 2.6em;
}
.typeofgrid li {
	width: 0.3em;
	height: 0.3em;
	line-height: 0.3em;
}
